DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
